In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [2]:
# Sample dataset 
data = { 
'age_group': ['18-25', '18-25', '26-35', '26-35', '36-45', '36-45', '46-60', '46-60'], 
'income': [22000, 25000, 30000, 35000, 40000, 42000, 38000, 98000] 
} 
df = pd.DataFrame(data)

In [3]:
df.head(10)

  age_group  income
0     18-25   22000
1     18-25   25000
2     26-35   30000
3     26-35   35000
4     36-45   40000
5     36-45   42000
6     46-60   38000
7     46-60   98000

In [ ]:
# Group by age_group and calculate summary stats  [describe()]
grouped_stats = df.groupby('age_group')['income']
print("Summary Statistics Grouped by Age Group:") 
grouped_stats.describe()

Summary Statistics Grouped by Age Group:

,count,mean,std,min,25%,50%,75%,max
age_group,,,,,,,,
18-25,2.0,23500.0,2121.320344,22000.0,22750.0,23500.0,24250.0,25000.0
26-35,2.0,32500.0,3535.533906,30000.0,31250.0,32500.0,33750.0,35000.0
36-45,2.0,41000.0,1414.213562,40000.0,40500.0,41000.0,41500.0,42000.0
46-60,2.0,68000.0,42426.406871,38000.0,53000.0,68000.0,83000.0,98000.0

In [8]:
# Create a list with numeric value for each categorical group 
df['age_group_numeric'] = pd.factorize(df['age_group'])[0]

In [9]:
print("\nCategorical Variable Converted to Numeric:\n") 
print(df[['age_group', 'age_group_numeric']])

Categorical Variable Converted to Numeric:

  age_group  age_group_numeric
0     18-25                  0
1     18-25                  0
2     26-35                  1
3     26-35                  1
4     36-45                  2
5     36-45                  2
6     46-60                  3
7     46-60                  3

Next Problem Statement

In [21]:
iris = pd.read_csv('Iris.csv')

In [22]:
iris.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [23]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [15]:
# Unique species 
print("Unique species in dataset:", iris['Species'].unique())

Unique species in dataset: ['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [16]:
# Function to print stats per species 
for i in iris['Species'].unique(): 
    print(f"\nSummary for {i}:") 
    subset = iris[iris['Species'] == i] 
    print(subset.describe())

Summary for Iris-setosa:
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

Summary for Iris-versicolor:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

Summary for Iris-virginica:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000